<!-- This page will list a few things from each catorgory with a link that will list more -->

<h2>Favoirte Words</h2>

<%@word.each do |word| %>
  <h3><%= link_to(word.word, word_path(word.id)) %></h3>

<%end %>



<!-- how has does word_path able to pass an argument -->
