<!-- list all the word here-->
<!-- add button that adds new word to data base -->
<!-- have a link that directs back to homepage -->

<h2>Words</h2>

<%= button_to "Add Word", new_word_path, method: :get %>
